% Configuration File for SUPERB Machine Learning UoM.
% Configuration options:
% -v	Verbose logging flag (Optional)
% -c	Path to the configuration file (Optional)
% -o	Path to the file to write output data to (Optional)
% -train	Train the classifier using an arff file (Optional)
% -test	Test the classifier using an arff file (Optional)
% -p	Execute the classifier on an arff file (Optional)
% -a	The algorithm to use for classification (Optional)
% -m	The location to save a classification model to (Optional)
% example use: -c=\Users\rob\file.config
%

-v=true
-c=
-o=/lustre_data/spotlight/data/PULSELINE_OUTPUT_DATA/J0900-3144_20250428_161851/classifier_candidates.txt
-train=
-test=
-p=/lustre_data/spotlight/data/PULSELINE_OUTPUT_DATA/J0900-3144_20250428_161851/scores.arff
-a=1
-m=/lustre_data/spotlight/data/pulsar_search_pipeline_ver0//Machine_learning/HTRU_CLASSIFIER_STUFF/DT_LOTAAS.model
